@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color:black;
    left: 0;
    margin: 0;
    position: relative;
}

body{
	overflow-y:hidden;
}

img {
	display: block;
    margin: 0 auto;
}

div img {
	border-bottom:2px solid white;
	height:60px;
	width:65px;
	padding:5px;
	display: block;
    margin: 0 auto;
}

nav div {
	height: 50%;
	width: 65%;
	background-color:black;
	color:white;
	font-size:50px;
	font-family:'Amatic SC';
	font-weight:bold;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

iframe {
	width:95%;
	height:75%;
	border: 2px solid white;
	display: block;
    margin: 0 auto;
}

ul {
	font-size:32px;
	font-weight: bold;
	font-family:'Amatic SC';
}

article
{
	font-size: 35px; 
	font-weight: bold;
	margin-left: 10px;
	font-family: 'Amatic SC';
}

a {
	text-decoration: none;
}

header {
	margin-top:-10px;
}

footer {
	color:white;
    position: absolute;
    bottom:10px;
    right:0;
    padding-right: 20px;
    font-family:'Special Elite';
	font-size: 14px;
	margin:5px;
}

hr {
	border:1px white solid;
}

#home:hover {
    background-color:#3333ff;
}

#about:hover {
	background-color:#7f00ff;
}

#shows{
	width:110px;
}

#shows:hover {
    background-color:#ea153f;
}

#store:hover {
	background-color:#00cc00;
}

#contact {
	width:120px;
}

#contact:hover {
	background-color:#ff5b33;
}

#icon-hover:hover {
  font-size:3.2vw;
}

#close:hover {
	color: #ea153f;
}

.menu {
  background-color:#e580ff; 
  height: 450px;
  position: absolute;
  width: 120px;
  border-right: 3px solid white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  margin-top: 120px;
  left:-123px;
  padding-top:10px;
  z-index: 100;
}

.contact-menu {
  background-color:#6666ff; 
  height: 90px;
  position: absolute;
  width: 300px;
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  top: 425px;
  right:-333px;
  padding-top:10px;
  z-index: 100;
}

.icon-menu {
  position: absolute;
  color: white;
  cursor: pointer;
  font-family: 'Amatic SC';
  font-size: 3vw;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  width:330px;
  margin: 0;
  padding: 0;
  left:50px;
  margin-top:40px;
}

@media (max-width:1200px) {
	.icon-menu {
		margin-top:15px;
	}
}

@media (max-width:900px) {
	.icon-menu {
		margin-top:5px;
	}
}

.icon-close {
	cursor: pointer;
	width: 12px;
	margin: 5px;
	float:right;
	margin-top:-12px;
	color: white;
	font-size: 22px;
	font-weight: bold;
	font-family: sans-serif;
}

.contact-icon-close {
	cursor: pointer;
	width: 12px;
	margin: 5px;
	float:left;
	margin-top:-12px;
	color: white;
	font-size: 22px;
	font-weight: bold;
	font-family: sans-serif;
}

.container {
	margin-top:10px;
	margin-bottom:-12px;
	margin-left: 15%;
	margin-right: auto;
	width:80%;
	height:500px;
	z-index:100;
}

.subcontainer {
	position:relative;
	width: 63%;
	height: 520px;
	float: left;
	margin-right:130px;
	overflow-y: auto;
	background-color:lightcoral;
	border: 3px solid white;
}

.menucontainer {
	margin-top: 125px;
	width: 12%;
	height: 220px;
	float:left;
	background-color:black;
}

@media (max-width:1000px) {
	.menucontainer {
		margin-left:-100px;
	}
}
.subcontainer p  {
	font-family: 'Amatic SC';
	color: black;
	font-size: 38px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 4px;
	margin-left: 15px;
}

.center {
	text-align: center;
}

.subcontainer p + p {
	color:black;
	font-size: 20px;
	font-weight:bold;
	text-align: left;
	margin-left: 15px;
	font-family: Times;
	font-family: 'Amatic SC'
}

@media (max-width:640px) {
	.subcontainer p{
		width: auto;
		text-align: none
	}

	.subcontainer p + p{
		width: auto;;
		text-align: none
	}
}


.alien {
	position:absolute;
	top:95px;
	right:10px;
}

@media (max-width:1250px) {
	.alien {
		visibility: hidden;
	}
}

.icon-menu-contact {
  position: absolute;
  color: white;
  cursor: pointer;
  font-family: 'Amatic SC';
  font-size: 3vw;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  width:330px;
  margin: 0;
  padding: 0;
  right:-10px;
  margin-top:40px;
}

.contact-menu p {
	position: relative;
	font-family: 'Amatic SC';
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-align:center;
	bottom:9px;
	padding:1px;
	background-color:#99ff99;
}

.logo {
	max-width: 100%;
    height: auto;
}

@media (max-width:1200px) {
	.logo {
		margin-top:-10px;
		content:url('logomedium.png');
	}
}

@media (max-width:900px) {
	.logo {
		margin-top:-10px;
		content:url('logosmall.png');
	}
}

@media (max-width:700px) {
	.logo {
		visibility: hidden;
	}
}

@media (max-width:1350px) {
	footer {
		position:relative;
		clear:both;
		bottom:0;
		text-align: center;
		top:10px;
	}
}

@media (max-width:1200px) {
	.icon-menu-contact {
		right:-100px;
		margin-top:15px;
	}
}

@media (max-width:900px) {
	.icon-menu-contact {
		right:-100px;
		margin-top:5px;
	}
}

@media (max-width:1200px) {
.container {
	padding-left:75px;
}